*{
    margin: 0;
    padding: 0;    
}
.bg-blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.red-line {
    border-left: 2px solid red;
    height: 100%;
}
.bg-gradient {
    background: linear-gradient(90deg, rgba(242, 204, 171, 1) 0%, rgba(255, 236, 210, 1) 50%, rgba(242, 204, 171, 1) 100%);
} 
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  .slide-in {
    animation: slideIn 0.5s forwards;
  }
  .slide-out {
    animation: slideOut 0.5s forwards;
  }

  .contact-section {
    background-image: url('../assets/bg-images/bolts-nuts-background.png');
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .contact-section {
    background-image: url('../assets/bg-images/bolts-nuts-background.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.text-box h3 {
  font-size: 1.25rem; 
  line-height: 1.4;
  margin: 0;
  padding: 0;
  color: #fff; 
}


  .content {
    position: relative;
    z-index: 2;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #F9BD86;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 50;
    min-width: 250px;
    margin-top: 12px;
  }
  .dropdown-menu a {
    display: flex;
    align-items: center;
    padding: 12px;
    color: #333;
    text-decoration: none;
  }
  .dropdown-menu a:hover {
    background-color: #F9BD86;
    color: white;
  }
  .dropdown-menu img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .btn-youtube {
    background-color: #0073E6;
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
  }
  .btn-youtube img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }
  .btn-youtube:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  @keyframes slideIn {
    from {
      right: -75%;
    }
    to {
      right: 0;
    }
  }
  @keyframes slideOut {
    from {
      right: 0;
    }
    to {
      right: -75%;
    }
  }
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (min-width: 768px) {
  
  .text-box h3 {
    font-size: 2.25rem; 
  }
}